# Flask and web server
flask
flask-cors
gunicorn
python-dotenv

# LangChain
langchain
langchain-community
langchain-groq
langchain-core
langchain-text-splitters

# Vector Store
chromadb

# Embeddings (HuggingFace)
transformers
sentence-transformers
torch

# Document loaders
pypdf
python-docx

# Utilitiess
requests
